{% extends "base.html" %}

{% block title %}Login page{% endblock %}

{% block content %}
<form class="login" method="post">
      <div class="loginContainer">
        <label><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>
        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
        <button type="submit" class="loginButton">Login</button>
      </div>
    </form>
{% endblock %}