{% extends "base.html" %}

{% block title %}Login page{% endblock %}

{% block content %}
<form class="login" method="post">
    <div class="loginContainer">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <div class="errorMsg">
                      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                      {{msg}}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <label><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" maxlength="30" required value={{username}}>
        <label><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" maxlength="60" required value={{email}}>
        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" maxlength="30" required>
        <button type="submit" class="loginButton">Register</button>
    </div>
</form>
{% endblock %}