{% extends "base.html" %}

{% block title %}Forgot password page{% endblock %}

{% block content %}
<form method="POST">
    {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <div class="errorMsg">
                      <span class="closebtn" onclick="this.parentElement.style.display='none';"></span>
                      {{msg}}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    <div>
        Enter a new password for your account:
        <input type="password" name="password" required="true">
        <input type="password" name="passwordVerification" required="true">
        <input type="submit" value="Reset password" name="submit_new_password">
    </div>
</form>
{% endblock %}