{% extends "base.html" %}

{% block title %}Reset password page{% endblock %}
{% block content %}
<form method="POST">
    <div class="resetContainer">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <div class="errorMsg">
                      <span class="closebtn" onclick="this.parentElement.style.display='none';"></span>
                      {{msg}}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <label><b>Enter a new password:</b></label>
        <input type="password" placeholder="Enter New Password" name="password" maxlength="30" required>
        <label><b>Retype Password</b></label>
        <input type="password" placeholder="Re-enter New Password" name="passwordVerification" maxlength="30" required>
        <button type="submit">Reset password</button>
    </div>
</form>
{% endblock %}