*{
  font-family: Arial, Helvetica, sans-serif;
}

textarea {
  resize: none;
}

.jokeLink {
  color: black;
  text-decoration: none;
}

.addCommentButton {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
}

/* Searching title */
.searchContainer {
    margin: 10px;
}

.searchContainer input[type=text], input[type=password], textarea {
  width: 20%;
  padding: 4px 4px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.searchContainer button{
  background-color: #04AA6D;
  color: white;
  padding: 6px 6px;
  border: none;
  cursor: pointer;
}

.searchContainer button:hover {
  opacity: 0.8;
}

/* Jokes and comments */
.mainBlock {
    width: 60%;
    min-width: 500px;
    margin: 20px;
    padding: 20px;
    background: gray;
    margin-left: auto;
    margin-right: auto;
}

.jokeBlock {
    margin: 20px;
    padding: 10px;
    background: white;
    text-align: center;

}

.commentBlock {
    margin: 20px;
    padding: 10px;
    background: white;
}

.jokeTitle {
    margin: 0px;
    padding: 0px;
    font-size: 30px;
    font-weight: bold;
}

.commentAuthor {
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    font-weight: bold;
}
.commentDate {
   margin: 0px;
    padding: 0px;
    font-size: 8px;
}

.jokeContent {
    margin: 0px;
    padding: 0px;
}

.commentContent {
    margin: 4px;
    padding: 4px;
}

.jokeAuthor {
    margin: 0px;
    padding: 0px;
    text-align: right;
    color: gray;
    font-size: 10px;
}

/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  left: 0;
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
body {
  margin-top: 60px; /* Add a top margin to avoid content overlay */
}

/* Full-width inputs */
.loginContainer input[type=text], input[type=password], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.loginContainer {
  margin: auto;
  padding: 10%;
  width: 50%;
}

.loginContainer button{
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 33%;
}

.loginContainer button:hover {
  opacity: 0.8;
}

.resetContainer {
  margin: auto;
  padding: 1%;
  width: 50%;
}

.resetContainer a {
  color: #04AA6D;
  border: none;
  cursor: pointer;
  font: bold;
  font-size: 16px;
  background-color: white;
}

.resetContainer a:hover {
  opacity: 0.8;
}

.forgotContainer input[type=text], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.forgotContainer {
  margin: auto;
  padding: 10%;
  width: 50%;
}

.forgotContainer button{
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 33%;
}

.forgotContainer button:hover {
  opacity: 0.8;
}

.resetContainer input[type=password], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.resetContainer {
  margin: auto;
  width: 50%;
}

.resetContainer button{
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 33%;
}

.resetContainer button:hover {
  opacity: 0.8;
}

/* Messages */
.errorMsg {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 5px;
}

.alert {
  padding: 20px;
  background-color: green; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}